.card-variant-1 {
  width: 300px;
  margin: 50px 25px;
  padding: 40px 24px 80px 24px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-variant-1 img {
  height: 80px;
  width: 80px;
}

.card-variant-1 .card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 7px 0;
}

.card-variant-1 p {
  text-align: center;
  color: #565678;
}
