.section5 {
  margin: 120px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 130px;
}

.section5 div {
  max-width: 450px;
}

.quote-container .quote-text {
  position: relative;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 10px;
  font-weight: normal;
}
.quote-container .quote-text .quote-icon {
  position: absolute;
  top: -25px;
  left: -70px;
  width: 60px;
  z-index: -1;
  color: #599d4c;
}
.section5 .contact-container a {
  display: inline-block;
}
.section5 .contact-container p {
  margin: 10px 0px 20px 0px;
}

.quote-author {
  margin: 20px 0px 5px 0px;
}

@media (max-width: 1100px) {
  .section5 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    text-align: center;
  }
  .section5 div {
    max-width: 100%;
  }
  .quote-container .quote-text .quote-icon {
    position: static;
    width: 40px;
  }
}
