.section4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  padding: 100px 40px 100px 40px;
  /* min-height: 280px; */
  background-color: #599d4c;
  color: white;
  text-align: center;
}

.section4 h2 {
  margin-bottom: 15px;
}

.section4 p {
  max-width: 800px;
}
