body {
  font-family: "Proxima Nova", sans-serif;
  position: relative;
}

.primary-button {
  background-color: #599d4c;
  padding: 11px 30px;
  cursor: pointer;
  transition: background-color 0.6s ease;
  color: white;
}

.primary-button:hover {
  background-color: #4a8340;
}

.secondary-title {
  font-size: 32px;
  font-weight: bold;
}

.gray-text {
  color: #565678;
}

.main-title {
  font-size: 42px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .main-title {
    font-size: 32px;
  }
}
