.section2 {
  display: flex;
  /* every child should have a width of 40% */
  width: 100%;
  margin-top: 100px;
  gap: 60px;
  padding: 0 3vw;
  align-items: center;
  justify-content: center;
}

.section2 div {
  width: 40%;
  max-width: 400px;
}

.section2-text h2 {
  margin-bottom: 10px;
}

.section2-text p {
  color: #565678;
}

.section2 img {
  width: 40%;
  max-width: 600px;
}
